table{
    border: 1;
    border-collapse: collapse;
    width: 50%;
    
}
td, th{
    padding: 10px;
    border: 10px solid black;
    text-align: center;
    background-color: rgb(102, 118, 133);
}
body{
    justify-content: center;
    align-items: center;
}
